<div class="form-group">
  <%= f.label :name, "Sprint Name" %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :start_date, "Start Date" %>
  <%= f.date_select :start_date, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :end_date, "End Date" %>
  <%= f.date_select :end_date, class: 'form-control' %>
</div>
