<section class="vh-100">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">EDIT SEMESTER</h2>
              
              <% if @semester.errors.any? %>
                <div class="alert alert-danger">
                  <ul>
                    <% @semester.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              
              <%= form_with(url: semesters_path(@semester), method: :patch, local: true, html: { multipart: true }) do |f| %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-outline mb-4">
                      <label for="semester">Semester</label>
                      <% semester_array = %w[Fall Spring Summer] %>
                      <%= f.select :semester, options_for_select(semester_array, @semester.semester), {}, class: 'form-control form-control-lg' %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline mb-4">
                      <label for="year">Year</label>
                      <%= f.select :year, options_for_select((Time.zone.now.year - 3)..(Time.zone.now.year + 3), @semester.year || Time.zone.now.year), {}, class: 'form-control form-control-lg' %>
                    </div>
                  </div>
                </div>

                <hr>
                <h5 class="mb-3">Upload Survey CSVs <span class="text-muted small"></span></h5>
                
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-outline mb-4">
                      <%= f.label :student_csv, "Student CSV" %>
                      <%= f.file_field :student_csv, :accept => 'text/csv', class: 'form-control' %>
                    </div>
                  </div>
                
                <div class="d-flex justify-content-center mt-4">
                  <%= f.submit "Submit", class: "btn btn-success btn-lg px-5" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>