<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet"/>
  <title></title>
</head>
<style>
    .optional {
        font-size: 0.7em;
        font-style: italic;
        transform: skew(-1deg);
        display: inline-block;
    }

    .dropdown-container {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }

    .card {
    border-radius: 8px;
    font-weight: 500;
    width: 100%;
    max-width: 600px; /* Wider cards */
    margin: 20px auto; /* Center and space out */
    padding: 20px;
    animation-duration: 1s;
    animation-name: fadeIn;
  }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        margin-bottom: 12px;
    }

    .summer-card {
        background-color: #D3D3D3;
        border: 1px solid #D3D3D3;
        box-shadow: 0 4px 8px rgba(255, 215, 0, 0.1);
    }

    .spring-card {
        background-color: #D3D3D3;
        border: 1px solid #D3D3D3;
        box-shadow: 0 4px 8px rgba(152, 251, 152, 0.1);
    }

    .fall-card {
        background-color: #D3D3D3;
        border: 1px solid #D3D3D3;
        box-shadow: 0 4px 8px rgba(255, 160, 122, 0.1);
    }

    .timestamp {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
        transition: color 0.3s ease;
    }

    .card:hover .timestamp {
        color: #555;
    }

    h3 {
        animation-duration: 1s;
        animation-name: slideInFromLeft;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .hr-separator {
        border: none;
        border-top: 2px solid #ccc;
        margin: 20px 0;
    }
</style>

<body>
  <div class="" style="width: 30%;">
      <div class="row">
        <div class="col-10 justify-content-center align-items-center text-center">
          <!--Alert message for user if they create a semester-->
          <% if params[:alert_message] %>
            <div class="alert alert-warning">
              <%= params[:alert_message] %>
            </div>
          <% end %>
          <h3>Create Semester</h3>
          <div class="d-flex justify-content-center mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newSemesterModal">
              Upload Survey CSVs
            </button>
          </div>
          <div class="row">
            <% grouped_semesters = @semesters.group_by(&:year).sort.reverse %>
            <% if grouped_semesters.empty? %>
              <div class="d-flex justify-content-center mt-4 mb-4">
                <div class="card w-100 border-danger">
                  <div class="card-body bg-danger text-white">
                    <p class="card-text text-center">
                      <strong>Attention:</strong> No semester created. Create a new semester to continue
                    </p>
                  </div>
                </div>
              </div>
            <% else %>
              <% grouped_semesters = @semesters.group_by(&:year).sort.reverse %>
              <% grouped_semesters.each_with_index do |(year, semesters), index| %>
                <% sorted_semesters = semesters.sort_by { |s| s.semester == 'Fall' ? 0 : s.semester == 'Summer' ? 1 : 2 } %>

                <% sorted_semesters.each_with_index do |s, semester_index| %>
                  <% card_class = case s.semester
                                  when 'Summer' then 'summer-card'
                                  when 'Spring' then 'spring-card'
                                  when 'Fall' then 'fall-card'
                                  else ''
                                  end %>
                  <div class="col-md-12">
                    <div class="card mb-4 <%= card_class %>" style='position: relative; height: 10rem; width: 15rem;'>
                      <div class="card-header text-dark"><%= "#{s.semester} #{s.year}" %></div>
                      <div class="card-body">
                        <%= link_to "Select", semester_path(s), class: "btn btn-primary" %>
                        <br>
                        <div class='d-flex justify-content-center'>
                          <!-- Edit Button -->
                          <%if current_user == s.user || current_user.admin?%>
                            <%= link_to '#', style: 'position: relative; bottom: 5px;', class: 'btn bg-transparent', data: { bs_toggle: "modal", bs_target: "#editSemesterModal" } do %>
                              <i class='bi bi-pencil-fill'></i>
                            <% end %>
                          <% end %>
                          <!-- Delete Button -->
                          <%if current_user == s.user || current_user.admin?%>
                            <%= button_to semester_path(s), method: :delete, data: { confirm: 'Are you sure?' }, form: { style: 'position: relative; bottom: 5px;]' }, class: 'btn bg-transparent' do %>
                              <i class='bi bi-trash-fill'></i>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add the line separator between years, except for the last year -->
                  <% if semester_index == sorted_semesters.size - 1 && index < grouped_semesters.size - 1 %>
                    <div class="col-md-12">
                      <hr class="hr-separator">
                    </div>
                  <% end %>
                <% end %>

              <% end %>
            <% end %>
          </div>
        </div>



      </div>
  </div>
  <div class="modal fade" id="newSemesterModal" tabindex="-1" aria-labelledby="newSemesterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newSemesterModalLabel">New Semester</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_with model: @semester, url: semesters_path, method: :post, local: true do |f| %>
            <%= f.hidden_field :semester %>
            <%= f.hidden_field :year %>
            <div class="form-outline mb-4">
              <div class="dropdown-container">
                <% semester_array = %w[Fall Spring Summer] %>
                <%= select_tag :semester, options_for_select(semester_array), class: 'form-control form-control-lg', id: 'semester' %>
              </div>
              <div class="dropdown-container">
                <%= select_tag :year, options_for_select((Time.zone.now.year - 3)..(Time.zone.now.year + 3), Time.zone.now.year), class: 'form-control form-control-lg', id: 'year' %>
              </div>

            </div>
            <hr>
            <h5>Upload Survey CSVs <span class="optional">(optional)</span></h5>

            <!-- ✅ CSV Format Instructions -->
            <div class="border rounded bg-light text-dark p-3 small" style="line-height: 1.5;">
              <strong>Student CSV must include the following column headers:</strong><br>
              <code>Full Name, Email, Team, Github Username, Github Project Board Link, Timesheet Link, Client Meeting Notes Link</code><br>
              <span class="text-muted">These headers are case-insensitive, but must exist. Rows without Full Name or Email will be skipped.</span>
            </div>

            <div class="form-outline mb-4">
              <%= f.file_field :student_csv, :accept => 'text/csv', class: 'form-control form-control', id: 'student_csv' %>
              
              <% if @semester && @semester.errors[:student_csv].any? %>
                <div class="text-danger mt-2">
                  <%= @semester.errors[:student_csv].join(", ") %>
                </div>
              <% end %>
            </div>
            <hr>
            <div class="d-flex justify-content-center mb-5">
              <%= f.submit "Submit", class: "btn btn-success btn-block gradient-custom-4 text-white" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editSemesterModal" tabindex="-1" aria-labelledby="editSemesterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editSemesterModalLabel">Edit Semester</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_with model: @semester, url: semester_path(self), method: :patch, local: true do |f| %>
            <%= f.hidden_field :semester %>
            <%= f.hidden_field :year %>
            <div class="form-outline mb-4">
              <div class="dropdown-container">
                <% semester_array = %w[Fall Spring Summer] %>
                <%= select_tag :semester, options_for_select(semester_array), class: 'form-control form-control-lg', id: 'semester' %>
              </div>
              <div class="dropdown-container">
                <%= select_tag :year, options_for_select((Time.zone.now.year - 3)..(Time.zone.now.year + 3), Time.zone.now.year), class: 'form-control form-control-lg', id: 'year' %>
              </div>

            </div>
            <hr>
            <h5>Upload Survey CSV <span class="optional">(optional)</span></h5>
            <div class="form-outline mb-4">
              <%= f.file_field :student_csv, :accept => 'text/csv', class: 'form-control form-control', id: 'student_csv' %>
              
              <% if @semester && @semester.errors[:student_csv].any? %>
                <div class="text-danger mt-2">
                  <%= @semester.errors[:student_csv].join(", ") %>
                </div>
              <% end %>
            <hr>
            <div class="d-flex justify-content-center mb-5">
              <%= f.submit "Submit", class: "btn btn-success btn-block gradient-custom-4 text-white" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
          $('#semester').change(function() {
              $('input[name="semester[semester]"]').val($(this).val());
          });

          $('#year').change(function() {
              $('input[name="semester[year]"]').val($(this).val());
          });
      });
  </script>