<nav class="navbar navbar-expand-lg navbar-dark bg-color1 fixed-top">
  <div class="container-fluid">
    <%= link_to 'Home', semesters_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= render 'shared/team_sprint_dropdowns' if controller_name == 'semesters' && action_name == 'team' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
              <i class="bi bi-person-circle me-1"></i>
              <span class="text-white"><%= current_user.email %></span>
            <% else %>
              <i class="bi bi-person-circle me-1"></i>
              <span class="text-white">Sign In</span>
            <% end %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <% if user_signed_in? %>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, method: :get, class: 'dropdown-item' %></li>
              <li>
                <%= form_with url: destroy_user_session_path, method: :delete, id: "sign_out_form", class: "d-none" do |_| %>
                <% end %>
                <%= link_to 'Sign Out', '#', class: 'dropdown-item', id: 'sign_out_link', onclick: 'submitSignOutForm(event)' %>
              </li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path, class: 'dropdown-item' %></li>
            <% end %>
          </ul>

        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
    .navbar {
        padding: 5px;
    }
</style>
<script>
    function submitSignOutForm(event) {
        event.preventDefault();
        const signOutForm = document.getElementById('sign_out_form');
        if (signOutForm) {
            signOutForm.submit();
        }
    }
</script>
