<div class="sidebar bg-light p-4 shadow-sm" style="height: 100vh; width: 250px; position: fixed;">
  <h4 class="fw-bold mb-4">Navigation</h4>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= link_to "Semesters", semesters_path, class: "nav-link text-dark fs-5" %>
    </li>
    <li class="nav-item mb-3">
      <%= link_to "Teams", teams_path, class: "nav-link text-dark fs-5" %>
    </li>
    <li class="nav-item mb-3">
      <% if session[:last_viewed_semester_id] %>
        <%= link_to "Status Page", semester_status_path(session[:last_viewed_semester_id]), class: "nav-link text-dark fs-5" %>
      <% else %>
        <%= link_to "Status Page", semesters_path, class: "nav-link text-dark fs-5" %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "Upload", "#", class: "nav-link text-dark fs-5" %>
    </li>
  </ul>
</div>
