<div class="sidebar bg-light p-4 shadow-sm" style="height: 100vh; width: 250px; position: fixed;">
  <h4 class="fw-bold mb-4">Navigation</h4>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= link_to "Semesters", semesters_path, class: "nav-link text-dark fs-5" %>
    </li>
    <li class="nav-item mb-3">
      <%= link_to "Teams", "#", class: "nav-link text-dark fs-5" %>
    </li>
    <li class="nav-item mb-3">
      <%= link_to "Status Page", "#", class: "nav-link text-dark fs-5" %>
    </li>
    <li class="nav-item mb-3">
      <%= link_to "GitHub Configuration", "#", class: "nav-link text-dark fs-5" %>
    </li>
    <li class="nav-item">
      <%= link_to "Upload", "#", class: "nav-link text-dark fs-5" %>
    </li>
  </ul>
</div>
